[NetDev]
Kind=wireguard
Name=wg-core

[WireGuard]
ListenPort=51830
PrivateKeyFile=/etc/wireguard/wg-core.key
RouteTable=off

[WireGuardPeer]
AllowedIPs=10.100.0.1/32
AllowedIPs=fd00:100::1/128
Endpoint=192.0.2.10:51820
PersistentKeepalive=25
PublicKey=2Ra/MKyq6SNHwY2Zk7pFeJrpVxbL1g5pXHltd4xT5Co=

[WireGuardPeer]
AllowedIPs=10.100.0.2/32
AllowedIPs=fd00:100::2/128
Endpoint=192.0.2.11:51820
PersistentKeepalive=25
PublicKey=oqdR68M0ICIpSoQv+P8pIW5o56sWAtN9D8c27jvqqGI=
