[Match]
Name=wg-core

[Network]
LinkLocalAddressing=no

[Address]
AddPrefixRoute=no
Address=10.10.0.0/31

[Address]
AddPrefixRoute=no
Address=fd00:10::/127

[Address]
Address=fe80::10/64

[Route]
Destination=10.10.0.1/32
Metric=100
Scope=link

[Route]
Destination=fd00:10::1/128
