[Match]
Name=wg-edge

[Network]
LinkLocalAddressing=no

[Address]
AddPrefixRoute=no
Address=10.20.0.0/31

[Address]
AddPrefixRoute=no
Address=fd00:20::/127

[Address]
Address=fe80::20/64

[Route]
Destination=10.20.0.1/32
Scope=link

[Route]
Destination=fd00:20::1/128
